venv/
# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
*.sh
*.env
# Backup files #
*.bak
ls
# If you are using PyCharm #
# User-specific stuff
.idea/
idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

